# Django
DJANGO_SETTINGS_MODULE=core.settings.dev
SECRET_KEY=django-insecure-dev-only-change-in-production
DEBUG=1
ALLOWED_HOSTS=localhost,127.0.0.1

# Database
DB_ENGINE=django.db.backends.postgresql
POSTGRES_DB=picpay_db
POSTGRES_USER=picpay_user
POSTGRES_PASSWORD=picpay_pass
POSTGRES_HOST=picpay_db
POSTGRES_PORT=5432

# App
SITE_URL=http://localhost:8000
